.App {
   text-align: center;
}

body {
   background-image: url(https://besthqwallpapers.com/Uploads/2-9-2021/177651/abstract-galaxy-4k-planets-rick-and-morty-abstract-sun.jpg);
   background-size: cover;
   background-attachment: fixed;
 }